@font-face {
  font-family: "Times New Roman";
  src:
    url("https://hightex.okta/fonts/TimesNewRomanPS-BoldItalicMT.woff2")
      format("woff2"),
    url("https://hightex.okta/fonts/Times New Roman Bold Italic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Times New Roman";
  src:
    url("https://hightex.okta/fonts/TimesNewRomanPS-BoldMT.woff2")
      format("woff2"),
    url("https://hightex.okta/fonts/Times New Roman Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src:
    url("https://hightex.okta/fonts/TimesNewRomanPSMT.woff2") format("woff2"),
    url("https://hightex.okta/fonts/Times New Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src:
    url("https://hightex.okta/fonts/TimesNewRomanPS-ItalicMT.woff2")
      format("woff2"),
    url("https://hightex.okta/fonts/Times New Roman Italic.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
}
